<%- include('../include/admin-header.ejs') %>
            <!-- main wrapper -->
            <main class="main-content-wrapper">
               <section class="container">
                  <!-- row -->
                  <div class="row mb-8">
                     <div class="col-md-12">
                        <!-- card -->
                        <div
                           class="card bg-light border-0 rounded-4"
                           style="background-image: url(../assets/images/slider/slider-image-1.jpg); background-repeat: no-repeat; background-size: cover; background-position: right">
                           <div class="card-body p-lg-12">
                              <h1>Welcome back! <% if (typeof user !== 'undefined' && user !== null) { %>
                                 <%= user.name %>
                               <% } %>
                               </h1>
                              <p>Suresh kirana store is working Fine.</p>
                              <!-- <a href="add-product" class="btn btn-primary">Create Product</a> -->
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- table -->
                  <div class="table-responsive-xl mb-6 mb-lg-0">
                     <div class="row flex-nowrap pb-3 pb-lg-0">
                        
                        <div class="col-lg-4 col-12 mb-6">
                           <!-- card -->
                           <div class="card h-100 card-lg">
                              <!-- card body -->
                              <div class="card-body p-6">
                                 <!-- heading -->
                                 <div class="d-flex justify-content-between align-items-center mb-6">
                                    <div>
                                       <h4 class="mb-0 fs-5">Completed Orders</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-warning text-dark-warning rounded-circle">
                                       <i class="bi bi-cart fs-5"></i>
                                    </div>
                                 </div>
                                 <!-- project number -->
                                 <div class="lh-1">
                                    <h1 class="mb-2 fw-bold fs-2"><%- totalCompletedOrders %></h1>
                                    <span>
                                       <span class="text-dark me-1">Latest Update <%= new Date(Date.now() - 30 * 60 * 1000).toLocaleString('en-US', { day: '2-digit', month: 'short', year: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true }) %></span>
                                       
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-12 mb-6">
                           <!-- card -->
                           <div class="card h-100 card-lg">
                              <!-- card body -->
                              <div class="card-body p-6">
                                 <!-- heading -->
                                 <div class="d-flex justify-content-between align-items-center mb-6">
                                    <div>
                                       <h4 class="mb-0 fs-5">Orders In Progress</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-warning text-dark-warning rounded-circle">
                                       <i class="bi bi-cart fs-5"></i>
                                    </div>
                                 </div>
                                 <!-- project number -->
                                 <div class="lh-1">
                                    <h1 class="mb-2 fw-bold fs-2"><%- totalinprogressOrders %></h1>
                                    <span>
                                       <span class="text-dark me-1">Latest Update <%= new Date(Date.now() - 30 * 60 * 1000).toLocaleString('en-US', { day: '2-digit', month: 'short', year: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true }) %></span>
                                       
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-12 mb-6">
                           <!-- card -->
                           <div class="card h-100 card-lg">
                              <!-- card body -->
                              <div class="card-body p-6">
                                 <!-- heading -->
                                 <div class="d-flex justify-content-between align-items-center mb-6">
                                    <div>
                                       <h4 class="mb-0 fs-5">Cancelled Orders</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-warning text-dark-warning rounded-circle">
                                       <i class="bi bi-cart fs-5"></i>
                                    </div>
                                 </div>
                                 <!-- project number -->
                                 <div class="lh-1">
                                    <h1 class="mb-2 fw-bold fs-2"><%- totalCancelledOrders %></h1>
                                    <span>
                                       <span class="text-dark me-1">Latest Update <%= new Date(Date.now() - 30 * 60 * 1000).toLocaleString('en-US', { day: '2-digit', month: 'short', year: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true }) %></span>

                                       
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="table-responsive-xl mb-6 mb-lg-0">
                     <div class="row flex-nowrap pb-3 pb-lg-0">
                        
                        <div class="col-lg-4 col-12 mb-6">
                           <!-- card -->
                           <div class="card h-100 card-lg">
                              <!-- card body -->
                              <div class="card-body p-6">
                                 <!-- heading -->
                                 <div class="d-flex justify-content-between align-items-center mb-6">
                                    <div>
                                       <h4 class="mb-0 fs-5">Customer</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-info text-dark-info rounded-circle">
                                       <i class="bi bi-people fs-5"></i>
                                    </div>
                                 </div>
                                 <!-- project number -->
                                 <div class="lh-1">
                                    <h1 class="mb-2 fw-bold fs-2"><%- totalActiveUsers %></h1>
                                    <span>
                                       <span class="text-dark me-1">Latest Update <%= new Date(Date.now() - 60 * 60 * 1000).toLocaleString('en-US', { day: '2-digit', month: 'short', year: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true }) %></span>
                                       
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-12 mb-6">
                           <!-- card -->
                           <div class="card h-100 card-lg">
                              <!-- card body -->
                              <div class="card-body p-6">
                                 <!-- heading -->
                                 <div class="d-flex justify-content-between align-items-center mb-6">
                                    <div>
                                       <h4 class="mb-0 fs-5">Total Products</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-info text-dark-info rounded-circle">
                                       <i class="bi bi-people fs-5"></i>
                                    </div>
                                 </div>
                                 <!-- project number -->
                                 <div class="lh-1">
                                    <h1 class="mb-2 fw-bold fs-2"><%- totalProducts %></h1>
                                    <span>
                                       <span class="text-dark me-1">Latest Update <%= new Date(Date.now() - 60 * 60 * 1000).toLocaleString('en-US', { day: '2-digit', month: 'short', year: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true }) %></span>
                                       
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-12 mb-6">
                           <!-- card -->
                           <div class="card h-100 card-lg">
                              <!-- card body -->
                              <div class="card-body p-6">
                                 <!-- heading -->
                                 <div class="d-flex justify-content-between align-items-center mb-6">
                                    <div>
                                       <h4 class="mb-0 fs-5">Total Categories</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-info text-dark-info rounded-circle">
                                       <i class="bi bi-people fs-5"></i>
                                    </div>
                                 </div>
                                 <!-- project number -->
                                 <div class="lh-1">
                                    <h1 class="mb-2 fw-bold fs-2"><%- totalCategoriesAndSubcategories %></h1>
                                    <span>
                                       <span class="text-dark me-1">Latest Update <%= new Date(Date.now() - 60 * 60 * 1000).toLocaleString('en-US', { day: '2-digit', month: 'short', year: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true }) %></span>
                                       
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="table-responsive-xl mb-6 mb-lg-0">
                     <div class="row flex-nowrap pb-3 pb-lg-0">
                        <div class="col-lg-4 col-12 mb-6">
                           <!-- card -->
                           <div class="card h-100 card-lg">
                              <!-- card body -->
                              <div class="card-body p-6">
                                 <!-- heading -->
                                 <div class="d-flex justify-content-between align-items-center mb-6">
                                    <div>
                                       <h4 class="mb-0 fs-5">Earnings</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-danger text-dark-danger rounded-circle">
                                       <i class="bi bi-currency-dollar fs-5"></i>
                                    </div>
                                 </div>
                                 <!-- project number -->
                                 <div class="lh-1">
                                    <h1 class="mb-2 fw-bold fs-2">₹ <%- totalPrice %></h1>
                                    <span>Monthly revenue</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                 
                  <!-- row -->
                  <div class="row">
                     <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-6">
                        <div class="card h-100 card-lg">
                           <!-- heading -->
                           <div class="p-6">
                              <h3 class="mb-0 fs-5">Recent Order</h3>
                           </div>
                           <div class="card-body p-0">
                              <!-- table -->
                              <div class="table-responsive">
                                 <table class="table table-centered table-borderless text-nowrap table-hover">
                                    <thead class="bg-light">
                                        <tr>
                                            <th scope="col">Order Number</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Order Date</th>
                                            <th scope="col">Total Price</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (orders.length > 0) { %>
                                            <% orders.forEach(order => { %>
                                                <tr>
                                                    <td>Order #<%= order._id.toString().slice(-5) %></td>
                                                    <td><%= order.name %></td>
                                                    <td><%= new Date(order.placed_on).toLocaleString('en-US', { day: '2-digit', month: 'short', year: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true }) %></td>
                                                    <td>₹ <%= order.total_price %></td>
                                                    <td>
                                                        <span class="badge bg-light-primary text-dark-primary"><%= order.payment_status %></span>
                                                    </td>
                                                </tr>
                                            <% }); %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="5">No data found</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </main>
			<%- include('../include/admin-footer.ejs') %>