<%- include('../include/admin-header.ejs') %>

         <!-- main wrapper -->
         <main class="main-content-wrapper">
            <div class="container">
               <!-- row -->
               <div class="row mb-8">
                  <div class="col-md-12">
                     <!-- page header -->
                     <div>
                        <h2>Order List</h2>
                        <!-- breacrumb -->
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb mb-0">
                              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Order List</li>
                           </ol>
                        </nav>
                     </div>
                  </div>
               </div>
               <!-- row -->
               <div class="row">
                  <div class="col-xl-12 col-12 mb-5">
                     <!-- card -->
                     <div class="card h-100 card-lg">
                        <div class="p-6">
                           <div class="row justify-content-between">
                              <div class="col-md-4 col-12 mb-2 mb-md-0">
                                 <!-- form -->
                                 <form class="d-flex" role="search">
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
                                 </form>
                              </div>
                              <div class="col-lg-2 col-md-4 col-12">
                                 <!-- select -->
                                 <select class="form-select">
                                    <option selected>Status</option>
                                    <option value="Success">Success</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Cancel">Cancel</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <!-- card body -->
                        <div class="card-body p-0">
                           <!-- table responsive -->
                           <div class="table-responsive">
                              <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                                 <thead class="bg-light">
                                    <tr>
                                       <th>
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="checkAll" />
                                             <label class="form-check-label" for="checkAll"></label>
                                          </div>
                                       </th>
                                       <th>Image</th>
                                       <th>Order Id</th>
                                       <th>Customer</th>
                                       <th>Date & TIme</th>
                                       <th>Payment</th>
                                       <th>Status</th>
                                       <th>Amount</th>
                                       <th></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                      <!-- Iterate over each order -->
    <% orders.reverse().forEach(order => { %>
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="<%= order._id %>" />
                    <label class="form-check-label" for="<%= order._id %>"></label>
                </div>
            </td>
            <td>
                <a href="#!"><img src="../assets/images/icons/package.svg" alt="" class="icon-shape icon-md" /></a>
            </td>
            <td><a href="#" class="text-reset">Order #<%= order._id.toString().slice(-5) %></a></td>

            <td><%= order.name %></td>
            <td><%= new Date(order.placed_on).toLocaleString('en-US', { day: '2-digit', month: 'short', year: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true }) %></td>

            <td><%= order.method %></td>
            <td>
                <span class="badge <%= (order.payment_status == 'completed')?'bg-light-primary':'bg-light-warning' %>  text-dark-primary"><%= order.payment_status %></span>
            </td>
            <td>₹ <%= order.total_price %></td>
            <td>
                <div class="dropdown">
                    <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="feather-icon icon-more-vertical fs-5"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                           <a class="dropdown-item" href="deleteorder/<%= order._id %>" onclick="return window.confirm('Are you sure you want to delete this order?')">
                              <i class="bi bi-trash me-3"></i>
                              Delete
                           </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/dashboard/editorder?id=<%= order._id %>">
                                <i class="bi bi-pencil-square me-3"></i>
                                Edit
                            </a>
                        </li>
						<% if(order.payment_status == 'completed'){ %>
                        <li>
                            <a class="dropdown-item" href="../invoice/<%= order._id %>">
                                <i class="bi bi-eye me-3"></i>
                                View Invoice
                            </a>
                        </li><% } %>
                    </ul>
                </div>
            </td>
        </tr>
    <% }); %>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                        <!-- <div class="border-top d-md-flex justify-content-between align-items-center p-6">
                           <span>Showing 1 to 8 of 12 entries</span>
                           <nav class="mt-2 mt-md-0">
                              <ul class="pagination mb-0">
                                 <li class="page-item disabled"><a class="page-link" href="#!">Previous</a></li>
                                 <li class="page-item"><a class="page-link active" href="#!">1</a></li>
                                 <li class="page-item"><a class="page-link" href="#!">2</a></li>
                                 <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                 <li class="page-item"><a class="page-link" href="#!">Next</a></li>
                              </ul>
                           </nav>
                        </div> -->
                     </div>
                  </div>
               </div>
            </div>
         </main>
      </div>
<%- include('../include/admin-footer.ejs') %>