<%- include('../include/head') %>
<title>Account Order - Suresh kirana store</title>
      <main>
         <!-- section -->
         <section>
            <div class="container">
               <!-- row -->
               <div class="row">
                  <!-- col -->
                  <div class="col-12">
                     <div class="d-flex justify-content-between align-items-center d-md-none py-4">
                        <!-- heading -->
                        <h3 class="fs-5 mb-0">Account Setting</h3>
                        <!-- button -->
                        <button
                           class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3"
                           type="button"
                           data-bs-toggle="offcanvas"
                           data-bs-target="#offcanvasAccount"
                           aria-controls="offcanvasAccount">
                           <i class="bi bi-text-indent-left fs-3"></i>
                        </button>
                     </div>
                  </div>
                  <style>
                     .table-cell-20 {
                        width: 20% !important;
                        }
                  </style>
                  <!-- col -->
                  <%- include('../include/user_sidebar') %>
                  <div class="col-lg-9 col-md-8 col-12">
                     <div class="py-6 p-md-6 p-lg-10">
                        <!-- heading -->
                        <h2 class="mb-6">Your Orders</h2>

                        <div class="table-responsive-xxl border-0">
                           <!-- Table -->
                           <div class="table-responsive">
                              <table class="table mb-0 text-nowrap table-centered">
                                 <!-- Table Head -->
                                 <thead class="bg-light">
                                    <tr>
                                       <th>&nbsp;</th>
                                       <th>Order</th>
                                       <th>Date</th>
                                       <th>Status</th>
                                       <th>Amount</th>
                                       <th>Method</th>
   
                                       <th></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <!-- Table body -->
                                    <% Orders.forEach(order => { %>
                                       <tr>
                                         <td class="align-middle border-top-0 w-0 table-cell-20">
                                           <a ><img src="../assets/images/icons/package.svg" alt="Ecommerce" class="icon-shape icon-xl" /></a>
                                         </td>
                                         <td class="align-middle border-top-0 table-cell-20">
                                            <a href="/invoice/<%= order._id %>" class="text-inherit">Order #<%= order._id.toString().slice(-5) %></a>
                                          </td>
                                          <td class="align-middle border-top-0 table-cell-20">
                                             <%= new Date(order.placed_on).toLocaleString('en-US', { day: '2-digit', month: 'short', year: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true }) %>
                                          </td>
                                          <td class="align-middle border-top-0 table-cell-20">

                                             <% if(order.payment_status == 'completed'){ %>
                                             <span class="badge bg-success"><%= order.payment_status %></span>
                                                
                                             <% } else if(order.payment_status == 'Cancelled'){ %>
                                                <span class="badge bg-danger"><%= order.payment_status %></span>
                                             
                                             <% }else{ %>
                                             <span class="badge bg-warning"><%= order.payment_status %></span>
                                                
                                                <% } %>
                                          </td>
                                          <td class="align-middle border-top-0 table-cell-20">₹ <%= order.total_price %></td>
                                          <td class="align-middle border-top-0 w-0">
                                            <a href="#" class="fw-semibold text-inherit table-cell-20">
                                              <h6 class="mb-0"><%= order.method %></h6>
                                            </a>
                                            <span><small class="text-muted"></small></span>
                                          </td>
                                          <% if(order.payment_status == 'completed'){ %>
                                             <td class="text-muted align-middle border-top-0 table-cell-20">
                                                <a href="/invoice/<%= order.id %>" class="text-inherit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View"><i class="feather-icon icon-eye"></i></a>
                                             </td>
                                          <% } else if(order.payment_status == 'Cancelled'){ %>
                                          
                                          <% }else{ %>
                                             
                                             <td class="text-muted align-middle border-top-0 table-cell-20">
                                                <form action="/cancelorder" method="post" id="cancel-order-btn">
                                                   <input type="hidden" name="id" value="<%= order._id %>">
                                                   <input type="submit" value="Cancel" class="btn btn-danger"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Cancel Order">
                                                </form>
                                             </td>
                                             <% } %>
                                       </tr>
                                     <% }); %>
                                     
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>

      
      <script>
         document.addEventListener("DOMContentLoaded", function() {
             // Add event listener to cancel order form
             const cancelButton = document.getElementById('cancel-order-btn');
             cancelButton.addEventListener('submit', function(event) {
                 event.preventDefault(); // Prevent form submission
      
                 // Get form and form data
                 const form = event.target;
                 const formData = new FormData(form);
      
                 // Send AJAX request
                 fetch('/cancelorder', {
                     method: 'POST',
                     body: formData
                 })
                 .then(response => response.json())
                 .then(data => {
                     if (data.success) {
                         // Show Toastify success message
                         Toastify({
                             text: "Order cancelled successfully!",
                             duration: 3000,
                             close: true,
                             gravity: "top",
                             position: "right",
                             backgroundColor: "#4CAF50",
                         }).showToast();
      
                         // Reload the page after a delay (e.g., 1 second)
                         setTimeout(function() {
                             location.reload();
                         }, 1000);
                     } else {
                         // Show Toastify error message
                         Toastify({
                             text: "Failed to cancel order: " + data.error,
                             duration: 3000,
                             close: true,
                             gravity: "top",
                             position: "right",
                             backgroundColor: "#F44336",
                         }).showToast();
                     }
                 })
                 .catch(error => {
                     // Handle network errors
                     console.error('Error:', error);
                     // Show Toastify error message for network errors
                     Toastify({
                         text: "An error occurred. Order Not Found Please try again.",
                         duration: 3000,
                         close: true,
                         gravity: "top",
                         position: "right",
                         backgroundColor: "#FF9800",
                     }).showToast();
                 });
             });
         });
      </script>
      

	  <%- include('../include/footer') %>