<%- include('../include/head') %>
<title>Account Order - Suresh kirana store</title>
      <main>
         <!-- section -->
         <section>
            <div class="container">
               <!-- row -->
               <div class="row">
                  <!-- col -->
                  <div class="col-12">
                     <div class="d-flex justify-content-between align-items-center d-md-none py-4">
                        <!-- heading -->
                        <h3 class="fs-5 mb-0">Account Setting</h3>
                        <!-- button -->
                        <button
                           class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3"
                           type="button"
                           data-bs-toggle="offcanvas"
                           data-bs-target="#offcanvasAccount"
                           aria-controls="offcanvasAccount">
                           <i class="bi bi-text-indent-left fs-3"></i>
                        </button>
                     </div>
                  </div>
                  <style>
                     .table-cell-20 {
                        width: 20% !important;
                        }
                  </style>
                  <!-- col -->
                  <%- include('../include/user_sidebar') %>
                  <div class="col-lg-9 col-md-8 col-12">
                     <div class="py-6 p-md-6 p-lg-10">
                        <!-- heading -->
                        <h2 class="mb-6">Your Orders</h2>

                        <div class="table-responsive-xxl border-0">
                           <!-- Table -->
                           <div class="table-responsive">
                              <table class="table mb-0 text-nowrap table-centered">
                                 <!-- Table Head -->
                                 <thead class="bg-light">
                                    <tr>
                                       <th>&nbsp;</th>
                                       <th>Order</th>
                                       <th>Date</th>
                                       <th>Status</th>
                                       <th>Amount</th>
                                       <th>Method</th>
   
                                       <th></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <!-- Table body -->
                                    <% Orders.forEach(order => { %>
                                       <tr>
                                         <td class="align-middle border-top-0 w-0 table-cell-20">
                                           <a href="#"><img src="../assets/images/icons/package.svg" alt="Ecommerce" class="icon-shape icon-xl" /></a>
                                         </td>
                                         <td class="align-middle border-top-0 table-cell-20">
                                            <a href="#" class="text-inherit">Order #<%= order._id.toString().slice(-5) %></a>
                                          </td>
                                          <td class="align-middle border-top-0 table-cell-20">
                                             <%= new Date(order.placed_on).toLocaleString('en-US', { day: '2-digit', month: 'short', year: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true }) %>
                                          </td>
                                          <td class="align-middle border-top-0 table-cell-20">
                                             <span class="badge bg-success"><%= order.payment_status %></span>
                                          </td>
                                          <td class="align-middle border-top-0 table-cell-20">₹ <%= order.total_price %></td>
                                          <td class="align-middle border-top-0 w-0">
                                            <a href="#" class="fw-semibold text-inherit table-cell-20">
                                              <h6 class="mb-0"><%= order.method %></h6>
                                            </a>
                                            <span><small class="text-muted"></small></span>
                                          </td>
                                          <% if(order.payment_status == 'completed'){ %>
                                             <td class="text-muted align-middle border-top-0 table-cell-20">
                                                <a href="/invoice/<%= order.id %>" class="text-inherit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View"><i class="feather-icon icon-eye"></i></a>
                                             </td>
                                          <% } %>
                                       </tr>
                                     <% }); %>
                                     
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>

      <!-- modal -->

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
         <!-- offcanvas header -->
         <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasAccountLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
         </div>
         <!-- offcanvas body -->
         <div class="offcanvas-body">
            <ul class="nav flex-column nav-pills nav-pills-dark">
               <!-- nav item -->
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="account-orders">
                     <i class="feather-icon icon-shopping-bag me-2"></i>
                     Your Orders
                  </a>
               </li>
               <!-- nav item -->
               <li class="nav-item">
                  <a class="nav-link" href="account-settings">
                     <i class="feather-icon icon-settings me-2"></i>
                     Settings
                  </a>
               </li>
               <!-- nav item -->
               <li class="nav-item">
                  <a class="nav-link" href="account-address">
                     <i class="feather-icon icon-map-pin me-2"></i>
                     Address
                  </a>
               </li>
               <!-- nav item -->
               <li class="nav-item">
                  <a class="nav-link" href="account-payment-method">
                     <i class="feather-icon icon-credit-card me-2"></i>
                     Payment Method
                  </a>
               </li>
               <!-- nav item -->
               <li class="nav-item">
                  <a class="nav-link" href="account-notification">
                     <i class="feather-icon icon-bell me-2"></i>
                     Notification
                  </a>
               </li>
            </ul>
            <hr class="my-6" />
            <div>
               <!-- nav  -->
               <ul class="nav flex-column nav-pills nav-pills-dark">
                  <!-- nav item -->
                  <li class="nav-item">
                     <a class="nav-link" href="../index">
                        <i class="feather-icon icon-log-out me-2"></i>
                        Log out
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>

	  <%- include('../include/footer') %>